body {
    font-family: 'Shadows Into Light', cursive;
}
h1 {
    text-align: center;
    font-size: 500%;
}

.container {
    width: 100%; 
    overflow: hidden;
}
.left {
    float: left;
    width: 600px;
}
.right {
    margin-left: 620px;
}

/*div {*/
    /*display: inline-block;*/
    /*max-width: 10px;*/
/*    width: 50%;*/
/*    display: table-cell;*/
/*}*/
/*p {*/
/*    text-align: center;*/
/*}*/
#hangman {
    width: 60%;
    padding-left: 20%;
}
.display {
   width: 50%;
   margin: auto;
}