body {
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 500%;
}
.message {
  color: red;
  /*font-size: 250%;*/
  /*margin-top: -75px;*/
}

#hangman_image {
  width: 60%;
  padding-left: 20%;
}
.display {
  width: 50%;
  margin: auto;
  font-size: 125%;
}
.misses {
  text-decoration: line-through;
  color: red;
}